<%- include('partials/_header'); -%>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-7">
                <table class="table table-bordered table-hover table-sm">
                    <thead>
                        <tr>
                            <td>Product_id </td>
                            <td>Product_name </td>
                            <td>category_name</td>
                            <td>Subcategory_name </td>
                            <td>Price</td>
                            <td>Is_available</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (data) { %>
                            <% for(var i=0; i < data.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= data[i].product_id%>
                                    </td>
                                    <td>
                                        <%= data[i].product_name%>
                                    </td>
                                    <td>
                                        <%= data[i].category_name%>
                                    </td>
                                    <td>
                                        <%= data[i].subcategory_name%>
                                    </td>
                                    <td>
                                        <%= data[i].price%>
                                    </td>
                                    <td>
                                        <%= data[i].is_available%>
                                    </td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col-md-5 offset-md-3 card">
                <div class="card-body">
                    <form action="/client/order/<%= data_ID %>" method="post">
                        <div class="form-group">
                            <input type="number" name="product_id" placeholder="Product_id" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <input type="number" name="quantity" placeholder="Quantity" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Add product to order
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
<%- include('partials/_footer'); -%>